<form [formGroup]="adminForm" class="ui fluid form" [hidden]="adminForm">
    <div class="form-group">
        <label class="center-block ui blue horizontal label">User:
           <input class="form-control" type="text" formControlName="user">
          </label>
    </div>
    <div class="ui divider"></div>
    <div class="form-group">
        <label class="center-block ui blue horizontal label">Password:
            <input class="form-control" type="password" formControlName="password">
          </label>
    </div>
    </form>